/*
	@package portfolioTheme
*/

/*
	Variables
	------------------------------------------------
*/

$darkBlue : #416d90;
$grey : #ededed;
$lightBlue : #90c6db;
$darkGrey : #707070;
$orange : #FC4A1A;
$lightGrey : #fafafa;
$blogColorTheme : #2c3e50;
